<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a routerLink="/requests" >Обращения</a></li>
      <li *ngIf="!auth.loggedIn">
        <a routerLink=""  (click)="auth.login()"> Войти <span class="glyphicon glyphicon-log-in"></span></a>
      </li><li *ngIf="auth.loggedIn">
        <a routerLink="/profile" >Профиль</a>
      </li>
      <li *ngIf="auth.loggedIn">
        <a routerLink=""  routerLinkActive="active" (click)="auth.logout()">Выйти <span class="glyphicon glyphicon-log-out"></span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container clearfix">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

