<div class="panel panel-default">
  <div class="panel-heading"><h3>Профиль</h3></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <img src="{{ profile?.picture }}" class="avatar" alt="avatar">
      </div>
        <div class="col-md-9 col-lg-9">
          <table class="table">
            <tbody>
              <tr>
                <td>Логин</td>
                <td>{{ user?.username }} </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ user?.email }} </td>
              </tr>
              <tr>
                <td>Фамилия Имя</td>
                <td>{{ user?.lastName + ' ' + user?.firstName }}</td>
              </tr>
                </tbody>
            </table>
        </div>
    </div>

    <img src="{{ profile?.picture }}" class="avatar" alt="avatar">
    <div>
      <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
      <h3 class="nickname">{{ profile?.nickname }}</h3>
    </div>
    <div>
      <label><i class="glyphicon glyphicon-envelope"></i> Email</label>
      <h3 class="email">{{ profile?.email }}</h3>
    </div>
    <pre class="full-profile">{{ profile | json }}</pre>
  </div>

</div>

